@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,600&display=swap');
@import './styles/functions.scss';
@import './styles/colors.scss';

$primary-background-color: $color-solitude;
$text-color: rgb(66, 66, 66);

body {
  background-color: $primary-background-color;
  font-family: "Poppins", sans-serif;
  color: $text-color;
}

/* The close button */

/* When moving the mouse over the close button */


.home-content-samples {
  @include flex(row, center, flex-start);
  flex-wrap: wrap;
}

.template-preview-inner {
  width: 30vw;
  height: 30vh;
  overflow: hidden;
  border: 4px solid $color-cerise;
  border-radius: 3px;
  margin: 5px;
  background-color: $color-email-bg;
}

@import './styles/general.scss';
@import './styles/toast.scss';
@import './styles/nav.scss';
@import './styles/template.scss';
@import './styles/campaign.scss';