.campaign {
  @include flex();

  &-container {
    @include flex(row, center, flex-start);
    width: 100%;

    &-render {
      @include flex();
      margin: 20px auto;
      max-width: 60%;
      height: auto;
    }

    &-controller {
      margin: 20px auto;
      max-width: 40%;
      height: auto;
    }
  }
}