.campaign {
  @include flex(row, space-between, flex-start);
  &-render {
    @include flex();
    margin: 20px auto;
    width: 60vh;
    height: auto;
  }
  &-controller {
    margin: 25px auto;
    width: 40vh;
    height: auto;
  }
}