.template {
  @include flex(row, flex-start, flex-start);
  padding: 20px;

  &-instructions {
    @include flex(column, flex-start, flex-start);
    width: 20%;
    padding: 10px;
  }

  &-editor {
    width: 80%;
    height: auto;
    padding: 10px;
    &-main { 
      div:first-child{ //Select for editor from unlayer.
        height: 68vh !important;
      }
    }
    &-controls {
      @include flex(row, space-between, space-between);
    }
  }

  &-preview-inner {
    width: 30vw;
    height: 30vh;
    overflow: hidden;
    border: 4px solid $color-cerise;
    border-radius: 3px;
    margin: 5px;
    background-color: $color-email-bg;
    
    &-large{
      width: 600px;
      height: auto;
    }
  }
}
